<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398547256757-hm5trmvkdujsftneppqn8fjqmdupj1f9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398547256757-hm5trmvkdujsftneppqn8fjqmdupj1f9</string>
	<key>API_KEY</key>
	<string>AIzaSyBksk61Hm7GytJeaOJgOKLempsP3eGde4E</string>
	<key>GCM_SENDER_ID</key>
	<string>398547256757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ewap.fb</string>
	<key>PROJECT_ID</key>
	<string>fir-sample-1cd3e</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-sample-1cd3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398547256757:ios:bc765988f2ca66232285fc</string>
	<key>DATABASE_URL</key>
	<string>https://fir-sample-1cd3e.firebaseio.com</string>
</dict>
</plist>